.require-input {
    color: #f96868;
}
.text-overflow{
    max-width: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#spiner-load-ajax{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#spiner-load-ajax{
    opacity: 1;
}
#spiner-load-ajax .bigger-500{
    font-size: 500% !important;
}
#spiner-load-ajax .widget-spin{
    margin-top: 20%;
}
.order-number{
    width: 40px;
}
.group-action-3
{
    width: 85px;
}
#view-by{
    width: 62px;
}
.filter-name
{
    padding-left: 10px;
}
.btn-box-above
{
    margin-top: 10px;
}
.table-detail th
{
    background-color: #fbfbfb;
}
.yellow{
    color: #ff9900;
}
.red {
    color: #FC1111;
}
.blue {
    color: #0000ff;
}
.with-100-px
{
    width: 100px;
}
.with-200-px
{
    width: 200px;
}
.with-100-precent
{
    width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    background-color: #0d6aad;
}
#maps_mapcanvas {
    margin-top:10px;margin-left: 0; width: 100%!important;
}
.pagination {
    margin: 0 !important;
}
#show-records {
    width: 60px;
}
#spiner-load-ajax{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#spiner-load-ajax{
    opacity: 1;
}
#spiner-load-ajax .bigger-500{
    font-size: 500% !important;
}
#spiner-load-ajax .widget-spin{
    margin-top: 20%;
}
.green {
    color: #00a657;
}